body {
    background-color: papayawhip;
}

h1 {
    color: green;
    font-size: 45px;
}

p {
    font-family: sans-serif;
}

#nomeNegrito {
    color: darkgreen;
}

.churrasco {
    font-size: 30px;
}

.games {
    font-size: 25px;
}

.dormir {
    font-size: 20px;
}

div.name {
    text-align: center;
}

div.myPhoto {
    float: left;
    padding: 10px;
    background-color: black;
}

div.description {
    position: absolute;
    width: 400px;
    top: 200px;
    left: 330px;
}

div.skills {
    position: absolute;
    top: 420px;
}

div.hobbies {
    position: absolute;
    top: 620px;
}